// Add your own CSS here!

:root {
  --light: #faf8f8;
  --dark: #0b0911;
  --secondary: #5c36bc;
  --tertiary: #9f36bc;
  --visited: #3653bc;
  --primary: #904db7;
  --gray: #4e4e4e;
  --lightgray: #f0f0f0;
  --outlinegray: #dadada;
  --million-progress-bar-color: var(--secondary);
  --highlighted: #f5dfaf88;
}

[saved-theme="dark"] {
  ---light: #0b0911;
  --dark: #faf8f8;
  --secondary: #5c36bc;
  --tertiary: #9f36bc;
  --visited: #3653bc;
  --primary: #904db7;
  --gray: #4e4e4e;
  --lightgray: #f0f0f0;
  --outlinegray: #dadada;
  --highlighted: #f5dfaf88;
}



