// Add your own CSS here!

:root {
  --light: #faf8f8;
  --dark: #0b0911;
  --secondary: #5c36bc;
  --tertiary: #9f36bc;
  --visited: #3653bc;
  --primary: #904db7;
  --gray: #4e4e4e;
  --lightgray: #f0f0f0;
  --outlinegray: #dadada;
  --million-progress-bar-color: var(--secondary);
  --highlighted: #9a9bf488;
}

[saved-theme="dark"] {
  --light: #0b0911 !important;
  --dark: #faf8f8 !important;
  --secondary: #5c36bc!important;
  --tertiary: #9f36bc!important;
  --visited: #3653bc!important;
  --primary: #904db7!important;
  --gray: #4e4e4e!important;
  --lightgray: #292633 !important;
  --outlinegray: #343434 !important;
  --highlighted: #9a9bf488;
}



