.dnd-item {
    background-color: #f8f0d9; !important
    border: 2px solid #d4af37; !important
    padding: 10px; !important
    border-radius: 8px; !important
    margin: 20px 0; !important
    font-family: 'Times New Roman', Times, serif; !important
}
