{{/* layouts/partials/dnd-custom-css.html */}}
{{ $content := . | string }}
{{ $dndStart := `<!-- dnd-item-start -->` }}
{{ $dndEnd := `<!-- dnd-item-end -->` }}

{{/* Pattern to find content between the markers */}}
{{ $pattern := printf `(?s)%s(.*?)%s` $dndStart $dndEnd }}
{{ $matches := findRE $pattern $content }}

{{/* Replace matched content with styled divs */}}
{{ range $matches }}
  {{ $dndContent := index . 1 | safeHTML }}
  {{ $replacement := printf `<div class="dnd-item">%s</div>` $dndContent }}
  {{ $content = replace $content (index . 0) $replacement }}
{{ end }}

{{/* Render the final content with replacements */}}
{{ $content | safeHTML }}
